.chat {
    float: right;
    width: 100%;
    height: 90vh;
    display: none;
    grid-template-rows: 1fr 8fr 1fr;
}

@media (min-width: 768px) {
    .chat {
        display: grid;
        width: 70%;
        height: 100vh;
    }
}

.top {
    max-width: 100%;
    background: #f5f5f5;
    border: 2px solid lavender;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.top img {
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem;
}

.top h3 {
    font-weight: bold;
    margin: 1rem;
    font-size: 1.5rem;
}

.chat_field {
    background: #f5f5f5;
    border: 1px solid lavender;
}


.chat_field {
    overflow: auto;
}

.chat_field ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chat_field li {
    max-width: 90%;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}

@media (min-width: 768px) {
    .chat_field li {
        max-width: 60%;
        min-width: 40%;
    }
}

.chat_field li > div {

    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat_field img {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 1rem;
}

.chat_field p {

    padding: 0.5rem 1rem;
    border-radius: 15px;
    overflow-wrap: anywhere;
    font-size: 1rem;
    text-align: left;
    margin: 1.5rem 0 1rem 0;
}

.chat_field span {
    font-size: 0.7rem;
    font-style: italic;
    color: grey;

}

.left {
    margin-right: auto;
    align-items: flex-start;
    padding-left: 1rem;

}

.right {
    margin-left: auto;
    align-items: flex-end;
    padding-right: 1rem;


}

.right img {
    display: none;
    margin-left: auto;
    align-items: flex-end;
    padding-right: 1rem;


}

.white {
    background: #3c4252;
    color: white;
    text-align: left;
}

.black {
    background: #e0e0e0;
    color: black;
    text-align: right;
}

.message {
    width: 100%;
    background: #f5f5f5;
    border: 2px solid lavender;
    display: flex;
    justify-content: center;
    align-items: center;


}

.message label {
    display: flex;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 0 0.6rem;
    border: none;
    box-shadow: 0 0 2px 1px grey;
    align-items: center;
    margin: 1rem;
}

.message textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
    min-height: 1rem;

}

.closeChat {
    display: block;
    border: none;
    background: none;

}

.closeChat i {
    font-weight: bold;
    font-size: 1rem;
    color: grey;


}

@media (min-width: 768px) {
    .closeChat {
        display: none;

    }
}